<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <center>
             <h1>hi bro this is </h1>
             <a href="{% url 'gopi' %}"><h1></h1>waiting for response gopi</a>
             <a href="{% url 'specific:kalayan' %}"><h1></h1>waiting for response kalayan</a>
             <a href="{% url 'specific:nvn' %}"><h1></h1>waiting for response nvn</a>
     </center>
</body>
</html>